body {
  color: #727272;
  background-color: #0f0f0f;
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

/* Hide scrollbar */
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

h1, h2 {
  font-weight: 400;
  color: #50C8FF;
  margin: 0 0 25px;
  text-transform: uppercase;
  letter-spacing: 15px;
  line-height: 40px;
}

.main {
  width: 100%;
}

.fullwidth {
	width: calc(100% + 16px);
	margin-left: -8px;
}

.container {
  width: 75%;
  margin: 0 auto;
  padding: 100px 0;
  color: white;
}

a {
  text-decoration: none;
  color: grey;
  text-transform: uppercase;
  letter-spacing: 15px;
}

header {
  /*top: 0;*/
  /*margin: 0 auto;*/
  margin: -8px 0 0 -8px;
  height: 100vh;
	width: calc(100% + 16px);
  max-height: 100vh;
 	background: url(https://content-na.drive.amazonaws.com/cdproxy/templink/x-rdd0c61QU4T6i2Sqnu2-fKRs-Gx5p5tEgVU6jyBRkpX92IB?viewBox=1600,900) 50% 0 no-repeat fixed;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
}

#headercontent {
  padding-top: 40vh;
}

/* Parallax windows*/
.paralaxtext {
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 100px;
}

.paralax {
  margin: 0 auto;
  padding: 50px 0;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
}

.paralax1 {
  background: url(https://images2.alphacoders.com/727/727283.jpg) 50% 0 no-repeat fixed;
}

.paralax2 {
  background: url(http://arielbeninca.com/Storage/1746699.jpg) 50% 0 no-repeat fixed;
}

.paralax3 {
  background: url(https://content-na.drive.amazonaws.com/cdproxy/templink/x-rdd0c61QU4T6i2Sqnu2-fKRs-Gx5p5tEgVU6jyBRkpX92IB?viewBox=1600,900) 50% 0 no-repeat fixed;
}

/* Mouse animation */
.mouse {
  width: 22px;
  position: absolute;
  height: 42px;
  border-radius: 15px;
  border: 2px solid white;
  bottom: 40px;
  left: 50%;
  margin-left: -12px;
}

.scroll {
  display: block;
  margin: 6px auto;
  width: 3px;
  height: 3px;
  border-radius: 4px;
  background: white;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: scroll;
  animation-name: scroll;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #50C8FF;
  margin-bottom: 100px;
}

@keyframes scroll {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }
}

@-webkit-keyframes scroll {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
}
